<div class="footer">
  <ul class="contents">
    <li class="content">
      <div class="content_list">
      <ul>
        <li><%= link_to "利用規約", rule_path %></li>
        <li><%= link_to "プライバシーポリシー", "#" %></li>
        <li><%= link_to "個人情報取り扱い", "#" %></li>
      </ul>
      </div>
    </li>
    <li class="content">
      <ul>
        <li><%= link_to "ヘルプ＆利用ガイド", "#" %></li>
        <li><%= link_to "管理者", "#" %></li>
      </ul>
    </li>
  </ul>   
  </div>
  <div class="footer-log">
    <small>©︎ 2020 ASSE</small>
  </div>
</div>