<%= form_with(model: [@shop, @tag], local: true) do |f| %>
  <% if shop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shop.errors.count, "error") %> prohibited this shop from being saved:</h2>

      <ul>
        <% shop.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :平均価格 %>
    <%= f.text_field :price %>
  </div>

  <div class="field"> 
    <%= f.label :所要時間 %>
    <select>
      <option value="0">5分</option>
      <option value="1">10分</option>
      <option value="２">15分</option>
      <option value="３">20分</option>
    </select>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>