<div class="header">
  <div class="headerinline">
    <h1 class="header-title"><%= link_to 'ランチマップ', shops_path %></h1>
    <div class="header-search">
      <%= form_with(url: shops_searches_path, local: true, method: :get, class: "search-form") do |form| %>
        <%= form.text_field :keyword %>
        <%= form.submit'Search' %> <%= link_to '検索終了', shops_path %>
      <% end %>
    </div>
    <div class="header-list">
      <div class="header-list-box">
        <% if user_signed_in? %>
          <div class="header-list-box__user">
              <%= current_user.nickname %>さん
              <%# <%= link_to current_user.nickname, user_path(current_user) %>
              <ul class="user__info">
                <li>
                  <%= link_to "マイページ", user_path(current_user.id) %>
                  <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "header__right--btn" %>
                </li>
              </ul>
            </span>
            <%= link_to '新規投稿', new_shop_path, class: "header__right--btn" %>
          </div>  
        <% else %>
          <div class="header-list">
            <%= link_to 'ログイン', new_user_session_path, class:"header__right--btn" %>
            <%= link_to 'ユーザー登録', new_user_registration_path, class:"header__right--btn" %>
          </div>  
        <% end %>
        </div>
      </div>
    </div>
  </div>
  <p id="notice"><%= notice %></p>  
</div>