<div class="header">
  <div class="headerinline">
    <h1 class="header-title"><%= link_to 'ランチマップ', shops_path %></h1>
    <div class="header-search">
      <%= form_with(url: search_shops_path, local: true, method: :get, class: "search-form") do |form| %>
        <%= form.text_field :keyword, placeholder:"店名 ジャンル" %>
        <%= form.submit'お店検索', :name => nil,class:"search-btn" %>
      <% end %>
    </div>
    <div class="header-list">
      <div class="header-list-box">
        <% if user_signed_in? %>
          <div class="header-list-box__user">
              <%= link_to current_user.nickname, user_path(current_user) %>さん
              <ul class="user__info">
                <li>
                  <%# <%= link_to "マイページ", user_path(current_user.id) %>
                  <%= link_to "マイページ", "/users/#{current_user.id}" %>
                  <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "header__right--btn" %>
                </li>
              </ul>
            </span>
            <%= link_to '新規投稿', new_shop_path, class: "header__right--btn" %>
          </div>  
        <% else %>
          <div class="header-list-box_unlog">
            <%= link_to 'ログイン', new_user_session_path, class:"header__right--btn" %>
            <%= link_to 'ユーザー登録', new_user_registration_path, class:"header__right--btn" %>
          </div> 
          <div class="header-list-box_unlog_new">
            <%= link_to '新規投稿', new_user_session_path, class: "header__right--btn" %>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>