<div class="header">
  <div class="headerinline">
    <h1 class="header-title">ランチマップ</h1>
    <div class="header-list-box"> 
      ログアウト
    </div>
  </div>
</div>
<div class="spnew">
  <div class="spnewMain">
    <div class="format_content">
    <h2 class="format-title">お店情報修正</h2>
    <%# 入力されたものを再選択させる %>
      <%= form_with(model: @shop, local: true) do |form| %>
        <div class="spnewMain_contents">
          <div id='map'></div>
            <div class="spnewMain_contents__content">
              <div class="spnewMain_contents__content__head">
                <div class="spnewMain__content__file">
                  <div class="spnewMain__content__file__up">
                    <div class="h3.sell__main__content__file__up__head">
                      場所選択
                      <style>#map { height: 300px; width: 600px;}</style>
                      <script>
                        let map
                        let geocoder
                        const display = document.getElementById('display')

                        function initMap(){
                          geocoder = new google.maps.Geocoder()

                          map = new google.maps.Map(document.getElementById('map'), {
                            center: {lat: 35.681236, lng:139.767125},
                            zoom: 15,
                          });

                          marker = new google.maps.Marker({
                            position:  {lat: 35.681236, lng:139.767125},
                            map: map
                          });
                        }

                        function codeAddress(){
                          let inputAddress = document.getElementById('address').value;

                          geocoder.geocode( { 'address': inputAddress}, function(results, status) {
                            if (status == 'OK') {
                              map.setCenter(results[0].geometry.location);
                              let marker = new google.maps.Marker({
                                  map: map,
                                  position: results[0].geometry.location
                              });
                              display.textContent = "検索結果：" + results[ 0 ].geometry.location
                            } else {
                              alert('該当する結果がありませんでした：' + status);
                            }
                          });   
                        }
                      </script>
                      <script src="https://maps.googleapis.com/maps/api/js?language=ja&region=JP&key=AIzaSyAD_hqgyKELzdJcgXRshABtsr5UZv3yKck&callback=initMap" async defer></script>
                      <div id="display">情報入力</div>
                      <div class="spnewMain__content__form">
                        <%= form.label :地図 %>
                        <input id="address" type="textbox" placeholder="場所を入力してください">
                        <input type="button" value="表示" onclick="codeAddress()">
                      </div>
                      <span class="form-require">
                        必須
                      </span>
                    </div>
                    <div class="spnewMain__content__form">
                      <%= form.label :店名 %>
                      <span class="form-require">必須</span>
                      <%= form.text_field :name %>
                    </div>
                    <div class="spnewMain__content__form">
                      <%= form.label :住所 %>
                      <span class="form-require">必須</span>
                      <%= form.text_field :address %>
                    </div>
                    <div class="spnewMain__content__form">
                      <%= form.label :所要時間 %>
                      <span class="form-require">必須</span>
                      <select>
                        <option hidden>片道時間を選択</option>
                        <option value="0">5分</option>
                        <option value="1">10分</option>
                        <option value="２">15分</option>
                        <option value="３">20分</option>
                      </select>
                    </div>
                    <div class="spnewMain__content__form">
                      <%= form.label :値段 %>
                      <span class="form-require">必須</span>
                      <select>
                        <option hidden>平均価格を選択</option>
                        <option value="0">500円</option>
                        <option value="1">501円~800円</option>
                        <option value="２">801円〜1080円</option>
                        <option value="３">1081円〜1300円</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>  
        </div>
        <div class="actions">
          <%= form.submit %>
        </div>
      <% end %>
    </div>
    <div class="back">
      <%= link_to '一覧へ', shops_path %>
      <%= link_to '戻る', @shop %>
    </div>   
  </div>
</div>
<footer>
  <div class="attention">
    <%= link_to '利用規約', '#' %>
  </div>
  <p>本アプリは社内用です。投稿内容及アカウント情報を外部へ流出が発覚した際には個人情報保護法並びに会社との規約違反となります。</p>
  <div class="footer-log">
    <small>©︎ 2020 ASSE</small>
  </div>
</footer>
