<div class="spnew">
  <div class="spnewMain">
    <div class="format">
      <div class="format_content">
        <h2 class="format-title">お店登録</h2>
          <%= form_with(model: @shop, local: true) do |form| %>
            <div class="spnewMain_contents">
              <div id='map'></div>
                <div class="spnewMain_contents__content">
                  <div class="spnewMain_contents__content__head">
                    <div class="spnewMain__content__file">
                      <div class="spnewMain__content__file__up">
                        <div class="h3.sell__main__content__file__up__head">
                          地図から選ぶ
                          <style>#map { height: 600px;width: 800px;}</style>
                          <script>
                            let map
                            let geocoder
                            const display = document.getElementById('display')

                            function initMap(){
                              geocoder = new google.maps.Geocoder()

                              map = new google.maps.Map(document.getElementById('map'), {
                                center: {lat: 35.681236, lng:139.767125},
                                zoom: 18,
                              });

                              marker = new google.maps.Marker({
                                position:  {lat: 35.681236, lng:139.767125},
                                map: map
                              });
                            }

                            function codeAddress(){
                              let inputAddress = document.getElementById('address').value;

                              geocoder.geocode( { 'address': inputAddress}, function(results, status) {
                                if (status == 'OK') {
                                  map.setCenter(results[0].geometry.location);
                                  let marker = new google.maps.Marker({
                                      map: map,
                                      position: results[0].geometry.location
                                  });
                                  display.textContent = "検索結果：" + results[ 0 ].geometry.location
                                } else {
                                  alert('該当する結果がありませんでした：' + status);
                                }
                              });   
                            }
                          </script>
                          <script src="https://maps.googleapis.com/maps/api/js?language=ja&region=JP&key=AIzaSyAD_hqgyKELzdJcgXRshABtsr5UZv3yKck&callback=initMap" async defer></script>
                          <input id="address" type="textbox" placeholder="場所を入力してください">
                          <input type="button" value="表示" onclick="codeAddress()">
                          <div id="display"></div>
                          <span class="form-require">
                          </span>
                        </div>
                        <div class="spnewMain__content__form">
                          <%= form.label :店名 %>
                          <span class="form-require">必須</span>
                          <%= form.text_field :name %>
                        </div>
                        <div class="spnewMain__content__form">
                          <%= form.label :住所 %>
                          <span class="form-require">必須</span>
                          <%= form.text_field :address %>
                        </div>
                        <div class="spnewMain__content__form">
                          <%= form.label :所要時間 %>
                          <span class="form-require">必須</span>
                          <%= form.collection_select :arrivaltime, Arrivaltime.all, :id, :time, prompt:'片道時間を選択',class:"form-box" %>
                        </div>
                        <div class="spnewMain__content__form">
                          <%= form.label :ジャンル %>
                          <span class="form-require">必須</span> 
                          <%= form.select :ganre,[['和食',1],['アジア料理',2],['ヨーロッパ料理',3],['肉料理',4],['カフェ・スイーツ',5],['ファミレス・ファーストフード',6],['ビュッフェ・バイキング',7],['その他',8]],{prompt:'何料理？'},{class:"form-box"} %>
                          <%# prompt以外の要素を調べる %>
                        </div>
                        <div class="spnewMain__content__form">
                          <%= form.label :値段 %>
                          <span class="form-require">必須</span>
                          <%= form.collection_select :price, Price.all, :id, :value, class:"form-box" %>
                        </div>
                        <%= link_to 'タグ付け',new_shop_tag_path(@tag) %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="actions">
                <%= form.submit %>
              </div>
              <div class="back">
                <%= link_to 'Topへ戻る', shops_path %>
               </div>     
            </div>
          <% end %>
        </div>  
      </div>  
    </div>
    <%= render partial:'tags/form' %>
  </div>
</div>