<div class="spnew">
  <div class="spnewMain">
    <div class="format_content">
      <h2 class="format-title">お店情報詳細</h2>
      <%= form_with(model: @shop, local: true) do |form| %>
        <div class="spnewMain_contents">
          <div id='mapArea'></div>
            <div class="spnewMain_contents__content">
              <div class="spnewMain_contents__content__head">
                <div class="spnewMain__content__file">
                  <div class="spnewMain__content__file__up">
                    <div class="h3.sell__main__content__file__up__head">
                      <script>
                        
                        let geocoder
                        const display = document.getElementById('display')

                        function initMap(){
                          geocoder = new google.maps.Geocoder()

                          map = new google.maps.Map(document.getElementById('map'), {
                            center: {lat: 35.681236, lng:139.767125},
                            zoom: 15,
                          });

                          marker = new google.maps.Marker({
                            position:  {lat: 35.681236, lng:139.767125},
                            map: map
                          pos = new google.maps.LatLng(
                          <%= map.latitude %>, //latitude
                          <%= map.longitude %> //longitude
                          );
                          default_marker = new google.maps.Marker({
                          map: mapInstance,
                          position: pos,
                          icon: {
                          url: ' https://maps.google.com/mapfiles/ms/icons/green-dot.png', //アイコンのURL
                          scaledSize: new google.maps.Size(40, 40) //サイズ
                          }
                          });
                          <% end %>
                        }
                      </script>  
                      <script src="https://maps.googleapis.com/maps/api/js?language=ja&region=JP&key=AIzaSyAD_hqgyKELzdJcgXRshABtsr5UZv3yKck&callback=initMap" async defer></script>
                      <span class="form-require">
                      </span>
                    </div>
                    <div class="spnewMain__content__form">
                      <strong>店名:</strong>
                      <span class="form-require"></span>
                      <%= @shop.name %>
                    </div>
                    <%# <div class="spnewMain__content__form">
                      <strong>場所:</strong>
                      <span class="form-require"></span>
                      <%= @shop.address %>
                    <%# </div> %>
                    <div class="spnewMain__content__form">
                      <tr>
                        <td><%= form.label :所要時間 %></td>
                        <th><%= Arrivaltime.find(@shop.arrivaltime).value %>分</th>
                      </tr>
                    </div>
                    <div class="spnewMain__content__form">
                      <tr>
                        <td><%= form.label :値段 %></td>
                        <th><%= Price.find(@shop.price).value %>円</th>
                      </tr>  
                    </div>
                    <div class="tagbox">
                      <% if tag %>
                        <% @shop.tags.each do |tag| %>
                          <div id="tag-#{tasg.id}" >            
                            <%= link_to "##{tag}","/tags/#{tag.name}" %>
                            <%# <%= tag.created_at %>
                            <%# <%= render 'shop/tag_list', tag_list: shop.tag_list %> 
                            <%# <%= link_to '編集', edit_shop_tag_path(@shop.id), class: 'btn btn-primary mr-3' %> 
                            <%# <%= link_to '削除', "/shops/#{@tag.id,shop_id}" , method: :delete, remote: true, data: {confirm: "タスク「#{tag.name}」を削除します。よろしいですか？"}, class: 'btn btn-danger delete', id: "delete_link_#{tag.id}" %> 
                          </div>
                        <% end %>
                      <% else %>
                        <p>#タグ表示欄を追加</p>
                        <%= link_to 'タグ追加', '#' %>
                      <% end %>
                    </div>      
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="back">
      <% if user_signed_in? && current_user.id == @shop.user_id %>
        <div class="backBox">
          <%= link_to '編集', edit_shop_path(@shop), class:"editBtn" %> |
          <%= link_to "削除", "/shops/#{@shop.id}", method: :delete %>
        </div>
        <% else %>
          <%= link_to '戻る', shops_path, class:"backBtn" %>
      <% end %>  
    </div>   
    <div class="commentBox">
      <% if current_user %>
        <%= form_with(model: [@shop, @comment], local: true) do |form| %>
          <%= form.label :コメントエリア %>
          <%= form.text_area :text, placeholder:"\n\n（任意、1000文字まで)\nランチに誘うのに使ってください", rows: "10", cols:"50" %>
          <%= form.submit 'コメントを送信する' %>
        <% end %>
      <% else %>
        <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
      <% end %>
      <div class="commentBox_area">
        <h4>＜コメント一覧＞</h4>
        <% if @comments %>
          <% @comments.each do |comment| %>
            <p>
              <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
              <%= comment.text %>
            </p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>