<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @shop.category.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @shop.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @shop.address %>
</p>

<%= link_to '編集', edit_shop_path(@shop) %> |
<%= link_to '戻る', shops_path %>
