<div class="left-content">
  <div class="left-content__bar">
    <ul>
      <li>
        <%= link_to "マイページ", "#" %><br>/
        <i class="fa fa-chevron-right"></i>
      </li>
      <li>
        <%= link_to "お知らせ", '#' %>
        <i class="fa fa-chevron-right"></i>
      </li>
      <li>
        <%= link_to "いいね！一覧", likes_users_path %>
        <i class="fa fa-chevron-right"></i>
      </li>
      <li>
        <%= link_to "ニュース一覧", '#' %>
        <i class="fa fa-chevron-right"></i>
      </li>
      <li>
        <%= link_to "お問い合わせ", '#' %>
        <i class="fa fa-chevron-right"></i>
      </li>
    </ul>
  </div>
</div>
<div class="left-content__bar">
  <h4> 設定
    <ul class="marginT-8px">
      <li>
        <%= link_to "プロフィール", user_profiles_path(current_user) %>
        <%# <%= link_to "プロフィール", user_profiles_path(profile.user) %> %>
        <%# <%= link_to "プロフィール", "/profiles/#{@user.id}", method: :show %> %>
        <i class="fa fa-chevron-right"></i>
      </li>
        <%= link_to "パスワード", '#' %> 
        <i class="fa fa-chevron-right"></i>
      </li>
      <li>
        <%= link_to "ログアウト", '#'  %>
        <i class="fa fa-chevron-right"></i>
      </li>
    </ul>
  </h4>
</div>